## Additional Practice for Module 7: Working with Dates and Times

The block below will import pandas and your dataframe (naming it df), as well as showing you the first five rows. (This replicates what you'll get in All of Us, where all of this will be added to the notebook automatically.) Run this block or you can't do any of the other exercises.

The dataframe you will get is one with a lot of dates and times. They represent four points along some sort of time series.

In [1]:
import datetime as dt
import pandas as pd
import random

time_frame = {'First Point': [], 'Second Point': [], 'Third Point': [], 
              'Fourth Year': [], 'Fourth Month': [], 'Fourth Day': []}

def make_time():
    day = random.randint(120, 730)
    hour = random.randint(0, 23)
    minute = random.randint(0, 59)
    return dt.timedelta(days=day, hours=hour, minutes=minute)

for x in range(0, 500):
    first = dt.datetime(year=random.randint(1980, 2014), month=random.randint(1, 12), day=random.randint(1, 28),
                       hour=random.randint(1, 23), minute=random.randint(0, 59), second=random.randint(0, 59))
    second = first + make_time()
    third = second + make_time()
    fourth = third + make_time()
    time_frame['First Point'].append(first)
    time_frame['Second Point'].append(second)
    time_frame['Third Point'].append(str(third))
    time_frame['Fourth Year'].append(fourth.year)
    time_frame['Fourth Month'].append(fourth.month)
    time_frame['Fourth Day'].append(fourth.day)
    
df = pd.DataFrame(time_frame)
df.head(10)

,First Point,Second Point,Third Point,Fourth Year,Fourth Month,Fourth Day
0,1991-12-20 01:46:07,1992-06-28 18:34:07,1993-07-20 14:48:07,1994,8,18
1,1987-09-06 15:54:27,1989-07-16 21:59:27,1990-03-11 05:03:27,1990,9,19
2,1984-04-11 02:59:16,1985-04-24 23:48:16,1987-01-18 07:09:16,1988,5,6
3,1985-11-22 05:09:41,1986-05-31 23:37:41,1987-09-05 05:27:41,1989,7,14
4,2007-03-02 19:52:19,2008-07-29 00:43:19,2009-11-18 11:00:19,2011,4,2
5,2004-02-23 14:32:10,2005-07-13 23:19:10,2006-07-15 03:55:10,2007,11,26
6,1989-04-21 09:15:07,1989-11-17 00:04:07,1991-01-15 02:40:07,1992,9,17
7,1992-02-08 20:30:10,1993-11-27 19:46:10,1994-11-13 03:27:10,1996,7,30
8,1980-10-05 09:55:52,1982-03-27 16:38:52,1983-09-21 23:27:52,1985,6,16
9,2012-03-23 20:30:24,2013-03-15 23:23:24,2014-10-06 03:13:24,2015,6,27

### Datetime Library

Make a variable that grabs the current time.

In [ ]:
# your code goes here

Make a variable that holds a datetime object that represents the time November 17th, 1993.

In [ ]:
# your code goes here

Make a variable, time_diff, that holds the difference in times between the above two variables you made.

In [ ]:
# your code goes here

Print the number of days in time_diff.

In [ ]:
# your code goes here

Run a calculation to print the total number of seconds, including the seconds in the days, in time_diff.

In [ ]:
# your code goes here

### Datetimes in Pandas

Make a new column that is just the year for First Point.

In [ ]:
# your code goes here

Make a new column that shows the difference in days between First Point and Second Point.

In [ ]:
# your code goes here

Third Point is, unfortunately, string format and not a proper datetime. Fix this in a new column.

In [ ]:
# your code goes here

Calculate the number of years between First Point and your corrected Third Point.

In [ ]:
# your code goes here

Fourth Point is represented by integers for its parts. Unify these into a datetime object and make a new column to hold it.

In [ ]:
# your code goes here