## Additional Practice for Module 3: Cleaning Data

The block below will import pandas and your dataframe (naming it `df`), as well as showing you the first five rows. (This replicates what you'll get in All of Us, where all of this will be added to the notebook automatically.) Run this block or you can't do any of the other exercises.

The dataframe you will get is one where a drug has been used to treat a variety of conditions. Questions are arising as to whether it causes issues with intraocular pressure. You will have the patient's intraocular pressure, the number of days they were treated with the drug, the per-day dosage, and the condition they were treated for as both a name and a numeric code.

This time the dataframe will have missing data and duplicated rows.

In [1]:
import random
import numpy as np
import pandas as pd

drug_data = {'Intraocular Pressure': [], 'Days of Treatment': [], 'Dosage (mg)': [], 'Condition Treated': [],
             'Condition Treated Code': []}
for x in range(0, 1000):
    # introcular pressure should be 10-20 mmHg
    chooser = random.randint(0, 6)
    iop = round(random.gauss(12, 2), 1)
    days = int(random.gauss(6, 1) - chooser)
    if days < 0:
        days = 0
    dosage = int(random.gauss(10 + chooser, 2))
    condition = random.choice(['Corneal abrasion', 'Acid reflux', 'Animal bite', 'Anemia'])
    condition_code = 0
    if condition == 'Acid reflux':
        condition_code = 1
    elif condition == 'Animal bite':
        condition_code = random.randint(2, 3)
    elif condition == 'Anemia':
        condition_code = 4
    row = [iop, days, dosage, condition, condition_code]
    if x == 1 or random.randint(0, 3) == 0:
        i = random.randint(0, 4)
        row.pop(i)
        row.insert(i, np.nan)
        additional_blank = random.randint(0, 3)
        while additional_blank == 0:
            i = random.randint(0, 4)
            row.pop(i)
            row.insert(i, np.nan)
            additional_blank = random.randint(0, 3)
    elif random.randint(0, 50) == 0 or x == 3:
        row = [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan]
    num_times = random.choice([1, 1, 1, 1, 2])
    if x == 1:
        num_times = 2
    for n in range(0, num_times):
        num_times = 1
        drug_data['Intraocular Pressure'].append(row[0])
        drug_data['Days of Treatment'].append(row[1])
        drug_data['Dosage (mg)'].append(row[2])
        drug_data['Condition Treated'].append(row[3])
        drug_data['Condition Treated Code'].append(row[4])
    
df = pd.DataFrame(drug_data)
df.head(10)

,Intraocular Pressure,Days of Treatment,Dosage (mg),Condition Treated,Condition Treated Code
0,12.9,1.0,15.0,Acid reflux,1.0
1,12.9,1.0,15.0,Acid reflux,1.0
2,15.1,NaN,8.0,Animal bite,3.0
3,15.1,NaN,8.0,Animal bite,3.0
4,9.3,6.0,11.0,Acid reflux,1.0
5,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,12.2,2.0,NaN,Anemia,NaN
8,12.2,2.0,NaN,Anemia,NaN
9,12.8,2.0,11.0,NaN,2.0

### Dropping Blank Cells

Drop all rows with any blanks. DON'T do this in-place!

In [ ]:
# your code goes here

Drop all rows that are entirely blank and save this as a new frame. You can use `head(10)` to check, since there will always be at least one all=`NaN` row visible in the first ten rows.

In [ ]:
# your code goes here

Pick a column with visible `NaN`s in the first five rows. Drop only rows where that column has blanks.

In [ ]:
# your code goes here

### Filling Blank Cells

Fill all blank cells with the number 1. DON'T do this in-place!

In [6]:
# your code goes here

Fill blanks in dosage with 10 and blanks in the number of days with 1.

In [ ]:
# your code goes here

Fill in blanks in Days of Treatment with half the dosage for that row.

In [ ]:
# your code goes here

### Dropping Duplicates

Drop ALL duplicated rows in the dataframe. Don't do this in-place!

In [ ]:
# your code goes here

Drop only rows that have duplicates in Condition Treated Code. This will produce a very short dataframe.

In [ ]:
# your code goes here

### Fixing Incorrect Data Types

Determine the data types of all columns in this dataframe.

In [ ]:
# your code goes here

Convert Condition Treated Code to a text variable, in-place.

In [ ]:
# your code goes here

Make a new column that is Condition Treated Code as a number again.

In [ ]:
# your code goes here