## Additional Practice for Module 4: Simple Filtering

The block below will import pandas and your DataFrame (naming it df), as well as showing you the first five rows. (This replicates what you'll get in All of Us, where all of this will be added to the notebook automatically.) Run this block or you can't do any of the other exercises.

The DataFrame you will get is one where a drug has been used to treat a variety of conditions. Questions are arising as to whether it causes issues with intraocular pressure. You will have the patient's intraocular pressure, the number of days they were treated with the drug, the per-day dosage, and the condition they were treated for as both a name and a numeric code.

In [ ]:
import random
import pandas as pd

drug_data = {'Intraocular Pressure': [], 'Days of Treatment': [], 'Dosage (mg)': [], 'Condition Treated': [],
             'Condition Treated Code': []}
for x in range(0, 1000):
    # intraocular pressure should be 10-20 mmHg
    chooser = random.randint(0, 6)
    iop = round(random.gauss(12, 2), 1)
    days = int(random.gauss(6, 1) - chooser)
    if days < 0:
        days = 0
    dosage = int(random.gauss(10 + chooser, 2))
    condition = random.choice(['Corneal abrasion', 'Acid reflux', 'Animal bite', 'Anemia'])
    condition_code = 0
    if condition == 'Acid reflux':
        condition_code = 1
    elif condition == 'Animal bite':
        condition_code = random.randint(2, 3)
    elif condition == 'Anemia':
        condition_code = 4
    row = [iop, days, dosage, condition, condition_code]
    num_times = 1
    drug_data['Intraocular Pressure'].append(row[0])
    drug_data['Days of Treatment'].append(row[1])
    drug_data['Dosage (mg)'].append(row[2])
    drug_data['Condition Treated'].append(row[3])
    drug_data['Condition Treated Code'].append(row[4])
    
df = pd.DataFrame(drug_data)
df.head()

,Intraocular Pressure,Days of Treatment,Dosage (mg),Condition Treated,Condition Treated Code
0,12.2,1,16,Corneal abrasion,0
1,13.8,0,16,Animal bite,3
2,14.0,0,14,Acid reflux,1
3,9.6,0,16,Animal bite,2
4,10.7,4,9,Anemia,4

### Filtering Using Mathematical Operators

Below, write a line of code to filter for all patients with intraocular pressures over 15.

In [ ]:
# your code goes here

Below, write a line of code that returns all patients who were treated for Animal bite.

In [ ]:
# your code goes here

Write a line of code that returns everyone who was treated for something other than Anemia.

In [ ]:
# your code goes here

Return every row where intraocular pressure is higher than Dosage (mg).

In [ ]:
# your code goes here

Return every row where the total dosage the patient has been treated with (dosage times days) is higher than 40.

In [ ]:
# your code goes here

### Filtering Using isin()

Write some code to filter for all patients treated for either Anemia or Corneal abrasion.

In [ ]:
# your code goes here

Flip your line of code above using the negator so that you return only patients **not** treated for Anemia or Corneal Abrasion.

In [ ]:
# your code goes here

### Chaining Filters

Filter for everyone who was treated for Animal bite for more than 4 days.

In [ ]:
# your code goes here

Filter for everyone who was treated with more than 10 mg or for more than 5 days.

In [ ]:
# your code goes here

Filter for everyone who was treated with either 50 mg total (dosage times days) or was treated with more than 10 mg for something other than Animal bite.

In [ ]:
# your code goes here

Filter for all corneal abrasion patients treated for less than 4 days or acid reflux patients treated with less than 10 mg.

In [ ]:
# your code goes here

### Advanced practice

If you really want to test your skills, try this. In notebook 3, we discussed the isna method and then moved to using dropna to drop NaNs. Under the hood, isna works like isin. Both produce a DataFrame full of True and False. Since we've now filtered using the DataFrame isin produces you should be able to replicate the behavior of dropna with a filter. The code block below will generate a DataFrame with NaNs in it. Use the block below that to write your dropna replicate that uses filtering instead of dropna.

In [2]:
ducks = [None, 3, 2, 6, 7]
pigs = [12, 0, None, 6, 1]
horses = [0, 0, 2, 1, 0]
sheep = [23, 0, 14, 99, 8]

na_df = pd.DataFrame({'ducks': ducks, 'pigs': pigs, 'horses': horses, 'sheep': sheep})
na_df.head()

   ducks  pigs  horses  sheep
0    NaN  12.0       0     23
1    3.0   0.0       0      0
2    2.0   NaN       2     14
3    6.0   6.0       1     99
4    7.0   1.0       0      8

In [ ]:
# your code goes here