# Advanced Filtering and Making Complex New Columns

## Summary
In this notebook, we'll be covering:
- [Making new data labels](#Making-New-Data-Labels)
- [Applying a function](#Applying-a-Function)
- [Apply with multiple columns](#Apply-With-Multiple-Columns)
- [Lambda functions](#Lambda-Functions)

### Introduction

In this section we'll tackle making new columns that require complex calculations or filters (or both) so we can then filter against that output, or, alternatively, just use that output.

Obviously, we need our dataframe again.

In [2]:
import pandas as pd
import random

For an explanation on what the code in the below code block does, check out the notebook "3 - Cleaning Data".

In [3]:
workout_dict = {'ID': [], 'Measurement Device': [], 'Heart Rate Max': [], 'Heart Rate Min': [], 'Heart Rate Avg': [],
              'Duration of exercise (min)': [], 'Exercise Type': []}
used_ids = []

# Since we're not using the number generated by `range`, we can use an underscore as a placeholder
for _ in range(0, 500):
    workout_id = random.randint(100_000_000, 999_999_999)
    while workout_id in used_ids:
        workout_id = random.randint(100_000_000, 999_999_999)
    used_ids.append(workout_id)
    device = random.choice(['Skykandal', 'B-Wolf'])
    mu = random.randint(65, 85)
    min_rate = int(random.gauss(mu, 10))
    max_rate = int(random.gauss(mu + 55, 25))
    while max_rate <= min_rate:
        max_rate = int(random.gauss(mu + 55, 25))
    avg = random.gauss((max_rate + min_rate) / 2, (max_rate - min_rate) / 5)
    duration = random.randint(10, 90)
    exercise = random.choice(['Running', 'Running', 'Running', 'Bicycling', 'Swimming', 'Swimming',
                              'Weight training'])
    row = [device, min_rate, max_rate, avg, duration, exercise]
    workout_dict['ID'].append(workout_id)
    workout_dict['Measurement Device'].append(row[0])
    workout_dict['Heart Rate Min'].append(row[1])
    workout_dict['Heart Rate Max'].append(row[2])
    workout_dict['Heart Rate Avg'].append(row[3])
    workout_dict['Duration of exercise (min)'].append(row[4])
    workout_dict['Exercise Type'].append(row[5])

df = pd.DataFrame(workout_dict)
df.head(10)

,ID,Measurement Device,Heart Rate Max,Heart Rate Min,Heart Rate Avg,Duration of exercise (min),Exercise Type
0,545591518,Skykandal,107,86,96.365454,27,Weight training
1,363283639,B-Wolf,185,80,127.634372,83,Running
2,853372507,B-Wolf,118,83,97.186502,48,Running
3,941758991,B-Wolf,108,79,90.000578,29,Weight training
4,609296827,Skykandal,157,78,98.496899,46,Weight training
5,627941273,B-Wolf,133,67,94.759048,33,Running
6,789595116,Skykandal,163,80,111.832072,73,Running
7,198783733,Skykandal,150,84,105.368712,40,Swimming
8,424864287,Skykandal,108,80,89.639894,21,Running
9,758224973,Skykandal,151,78,98.677267,11,Swimming

### Making New Data Labels
If we were interested in people with faster heart rates it would be easy enough to write a filter, say, `df[df['Heart Rate Avg'] >= 100]` that would return only those people. However, we might not be only interested in those people, but interested in the difference between people who have those faster heart rates and those who don't. In that case we might want to make a new column where people with an average heart rate over 100 were labeled "True" and those with a slower heart rate were labeled "False". (While we aren't there yet, this sort of thing would make it easy to get summary statistics for these groups separately.)

A quick reminder: making a new column is as simple as setting that column equal to something. `df['Something'] = 3` would make a column called "Something" where every value was 3.

We can use this basic syntax to make a new column with True/False values by passing an expression very much like a filter. Because we're going to want to try several variations on this, the code block below begins by making a copy of df that we'll modify, so we can start fresh by going back to df.

In [4]:
fast_heart_rate_df = df.copy()
fast_heart_rate_df['Fast Heart Rate'] = fast_heart_rate_df['Heart Rate Avg'] > 100
fast_heart_rate_df.head(10)

,ID,Measurement Device,Heart Rate Max,Heart Rate Min,Heart Rate Avg,Duration of exercise (min),Exercise Type,Fast Heart Rate
0,545591518,Skykandal,107,86,96.365454,27,Weight training,False
1,363283639,B-Wolf,185,80,127.634372,83,Running,True
2,853372507,B-Wolf,118,83,97.186502,48,Running,False
3,941758991,B-Wolf,108,79,90.000578,29,Weight training,False
4,609296827,Skykandal,157,78,98.496899,46,Weight training,False
5,627941273,B-Wolf,133,67,94.759048,33,Running,False
6,789595116,Skykandal,163,80,111.832072,73,Running,True
7,198783733,Skykandal,150,84,105.368712,40,Swimming,True
8,424864287,Skykandal,108,80,89.639894,21,Running,False
9,758224973,Skykandal,151,78,98.677267,11,Swimming,False

This works up to a point. What if we wanted a column that showed us a range? That also works, using a more complex expression. 

#### Write an expression below that makes a column that is True only if someone's average heart rate is between 95-105. (Note: you'll need to enclose the whole thing in parentheses so that Python knows to turn it into a single True or False.)

In [5]:
# write your code here

### Applying a Function

The point where this begins to collapse is where we need more than two labels, or really anything complex. At this point we really want to pass the row to a function that can evaluate the value at a given column and return a value. However, if we attempt to loop over a dataframe we don't get the rows.

In [6]:
for x in df:
    print(x)

ID
Measurement Device
Heart Rate Max
Heart Rate Min
Heart Rate Avg
Duration of exercise (min)
Exercise Type

Instead, pandas supplies us with an `iterrows` method that lets us iterate over the rows. It's a method, so you call it as a function, and it produces an iterable. However, the row returned is not a simple list, and it's a copy not a view, and so changing it doesn't change the dataframe. Instead, you need to look up the original dataframe row by index and change that. It's a mess, and so there's a specific pandas method that handles this all much more cleanly.

However, if you want to see what you're missing, the code to do this the hard way is below.

In [7]:
# copy the dataframe, just because we don't want to mess up our real dataframe for this example
iterrow_df = df.copy()

# make a new column and give it a default value
iterrow_df['Heart Rate Class'] = 'Middle'

# generate the iterrows object and iterate over it
# iterrows returns an iterable with two items in it, so we unpack that all at once
for index, row in df.iterrows():
    # check the age, if it shouldn't be the default do something
    if row['Heart Rate Avg'] >= 110:
        # use loc with a tuple to access the original cell and change it
        iterrow_df.loc[(index, 'Heart Rate Class')] = 'Fast'
    elif row['Heart Rate Avg'] < 90:
        iterrow_df.loc[(index, 'Heart Rate Class')] = 'Slow'
        
iterrow_df.head(10)

,ID,Measurement Device,Heart Rate Max,Heart Rate Min,Heart Rate Avg,Duration of exercise (min),Exercise Type,Heart Rate Class
0,545591518,Skykandal,107,86,96.365454,27,Weight training,Middle
1,363283639,B-Wolf,185,80,127.634372,83,Running,Fast
2,853372507,B-Wolf,118,83,97.186502,48,Running,Middle
3,941758991,B-Wolf,108,79,90.000578,29,Weight training,Middle
4,609296827,Skykandal,157,78,98.496899,46,Weight training,Middle
5,627941273,B-Wolf,133,67,94.759048,33,Running,Middle
6,789595116,Skykandal,163,80,111.832072,73,Running,Fast
7,198783733,Skykandal,150,84,105.368712,40,Swimming,Middle
8,424864287,Skykandal,108,80,89.639894,21,Running,Slow
9,758224973,Skykandal,151,78,98.677267,11,Swimming,Middle

Hopefully at this point you're ready to see the simple way.

The simple way uses a user-defined function and `apply`. `apply` is a dataframe method that has two main arguments to pay attention to: a function that `apply` sends everything to, and an axis that determines whether it sends rows or columns (0 is columns, 1 is rows).

The example below just demonstrates how apply works, without making a new column. We'll define a function that just prints the average heart rate in the row and then apply that function over each row.

In [8]:
def pointless_print(row):
    print(row['Heart Rate Avg'])
    
df.apply(pointless_print, axis=1)

96.36545366568481
127.63437166359051
97.18650216571294
90.00057796321092
98.49689915407345
94.75904823580638
111.83207174311283
105.36871189411053
89.63989370760683
98.67726707352324
109.19810549501202
101.74583049069956
118.71466010484332
133.3987496334192
77.81374081807527
87.80683148570617
87.16073752830235
103.6997896424392
109.67767607053132
109.30673118627423
103.16479194070787
107.86752966139365
144.2166950044861
103.92453839272311
110.24329445248645
118.80327518501471
148.01267322536498
140.72381457379666
73.03580540565771
100.88061742371254
134.2844327394012
105.02470181309694
113.12975920436412
98.51901120062641
161.37314883542265
140.8535803316825
126.22401655475934
91.50250226273968
75.87153695408584
76.7843896111564
106.19756129077162
125.80536051357608
104.40103619280309
103.33203561785399
89.4037781242445
116.18532265562148
79.4325424820836
114.16181889358037
105.8800759693682
100.9291392142145
93.71719848566596
65.10407340408162
86.35687821674085
148.24376024961836
102.47045415559006
95.30738551401363
127.23044446635173
94.57557323425011
113.92545103395341
138.079419153206
119.73863022638051
120.84233316111117
111.62486407096995
108.16675473215636
108.27726550458252
78.32702225321995
97.6686966360454
132.88837638728452
119.66939422390577
73.11841324486372
95.95623907075746
100.71035721118663
132.47833898319516
88.14838842082871
91.49293422499008
95.2861383468858
90.613848930729
85.48498215213426
124.39026143142314
143.63498433058388
100.65485058868072
84.9093332242853
85.78273579260204
133.1594548669041
85.10424736769525
81.3628297254744
77.29853584417842
86.27330880174796
96.59809346139119
115.84054603114211
120.33051631778055
124.51495578644578
85.94427135006963
92.21778051072303
99.4458978795347
94.20220295394212
113.59116329261472
113.1176855962328
127.18830429297464
98.60792469684151
121.03269793701246
73.8025367341751
84.56954803943249
65.46804210113169
91.79901854906835
101.46361635949071
113.93794839417451
89.79594108540715
97.83701517398178
163.63655304370928
89.34126134855696
103.27570381015914
109.8183038174728
98.09053936962437
96.16475376392603
103.28967797083578
93.40320480986635
98.72809530801334
116.85893247024761
127.35821723479188
89.75992354746533
74.1069275016633
109.6919345663661
84.92990764365801
118.97968819420197
96.04239742715352
109.96534279494718
109.91909804916438
109.82579163094496
87.0292240966227
115.49619891689198
86.12799481315793
68.63018279758383
92.91300792825578
73.55797502874032
100.16818288153628
86.32136829799836
125.03055124571841
95.0825473815159
96.6794500322958
111.09430976981818
89.21537734999148
99.22920543775838
94.5954185140232
119.44783758415431
113.7302147971028
130.82672871357215
120.3472612950508
103.40731198705915
82.69706711918582
102.90978923964194
109.25993117970282
137.82530736824577
148.08420613507062
134.26213031218649
112.45933472962632
95.66539635210034
130.100888334941
77.62648434368066
106.24084047810594
140.07812053858535
103.59400770459622
95.30636345426066
86.98899041744515
91.75908320719111
87.45050198524875
106.78880125013725
105.90570124101157
86.32001234990183
67.99857025082073
114.88613601480766
96.35461424192951
83.51014108168842
82.83647457869874
104.18519946386458
77.1930625820934
69.5104630112754
104.55755818959972
101.94287308272088
144.58395505535242
107.21182643705541
111.63964025884097
46.26845399889775
126.36497909779867
84.68828932863852
122.08901610998637
148.99202616330754
123.50276261181477
98.8013115611717
77.41533271482575
81.49938127311907
110.3897241921287
121.83537522892988
78.43045381997578
120.62714428916122
87.25969324759663
111.50229790838776
104.13568304259154
107.65293564837597
123.91499909058739
89.86872872172208
80.85645634684548
108.07548359332793
94.03821506580974
122.83475918852761
92.15724406010229
133.55540564455433
77.12834692014509
81.16939629155067
124.46988091986583
88.77313581444545
109.74452458320896
91.17979789819968
102.01418984030859
91.556098569716
75.58151984840427
123.71057566791846
92.95735980496674
99.26821202526905
90.49134188224794
71.46662805862047
96.76452949923464
92.69353675382202
141.50144467432656
87.92282204065364
90.47840048669593
98.65555439447876
102.17018131639225
115.2178215045421
115.7185483821105
122.92403751830216
145.2929498364512
98.07945824002232
111.42507903148962
97.48324224641512
111.23378276334965
109.68073213477808
101.80128350284112
84.78177185193871
97.0540658392057
85.60279777230765
111.59322627624519
87.20081627353441
80.2068554669028
107.97974088012222
77.57445234919267
100.9143215038787
86.09841999419503
116.3922074106436
125.58025580889053
69.99013842615823
107.9173385044412
124.19259608249462
93.36957975120421
100.84948003597285
91.40604956751491
117.61511688351234
111.52063079163122
94.25635074578196
115.97180199747514
98.14152752355298
84.07014276889645
87.88387905766022
99.10310521918267
89.25528943542906
103.84414913437766
96.91597921267116
129.58338363510816
101.51054184948414
88.2042857706455
124.89580244365241
107.88008160471112
100.53423740196733
87.2160108369893
85.2283290637111
70.46027236591067
108.455519967534
142.83756515269613
84.1295714331779
94.69596496997275
102.29394160058595
74.08239378402882
120.24278671660227
131.32671522934268
89.48253791862939
81.2039768388498
123.12244797416503
97.98609043254302
92.74379402421658
69.82580969269627
60.492648890959984
118.34025091724573
99.98492819846795
122.82648792702201
118.55432532706276
110.97631113939626
85.29113260924335
94.33184035487004
123.62748721448882
99.45865205120302
106.57565835721485
94.0332493678014
92.38557052966428
86.16099151455164
121.60966119317753
66.1686660880508
104.75672316617232
71.70994738823887
105.50967824494242
130.4666294184
84.68640640732647
117.26885037194181
102.6739125202254
125.00251638578443
67.19217392214917
105.71452987314844
104.10166372680139
111.79596158450431
83.94481002922544
115.25395674222305
88.8482267340799
104.60083603240078
112.01732128223507
125.34525186663583
87.24358024015561
102.4795932142585
83.10941362545809
104.14037525155203
86.27758901731572
94.36139284818839
110.14819971812406
86.03408610679082
103.29155198707217
103.40482666671903
90.1588149879369
83.46631432869086
99.96349618558416
104.31968361839674
108.03457729477152
119.29725595874771
88.19125838782516
97.75095387946364
94.75960552534288
133.85699018916864
125.36626651921156
105.97715364883899
121.10823940178842
136.56533967257593
129.91456913989106
94.97728151522782
76.8343326749268
104.03685837029727
106.42217210697574
107.65403495214326
99.34260934725968
87.16921655371722
83.97404828134965
93.8995730802083
95.86327433679745
114.56175317026475
122.75351593832865
92.41289531720503
65.53300447034123
111.76376137818846
105.23266326205739
84.70388756029932
90.71211076006222
102.50942410718396
91.7922895665999
89.98482302470394
104.58434140498903
113.40807853967382
92.932612145531
79.45487481322195
122.40956905980093
143.04319263960696
87.17406170571115
81.66395139863323
93.83964373511286
93.73242807901485
102.35915781190194
86.38136886898236
89.37728956367633
82.3269636708354
87.63323041476534
104.42882925315054
116.76322167104568
73.05329236669188
112.29600262844556
104.15908769939315
98.88315554571335
119.80780094238756
124.32160713283875
157.69152339039192
84.75350539233008
111.8879961040356
96.39198874928434
68.84096115958351
81.58694702462111
108.39384660351413
98.17260648539414
95.4781971037968
110.40621679353154
127.01843970202738
138.76340194043718
77.22228967935517
110.44249555287445
100.82012979367377
128.15445927121175
133.8135169851653
195.75957950197062
96.77128748493399
122.07852246292846
94.49490512887098
139.9958194201045
124.72479278441583
102.07702882990581
103.1474125737284
84.04512513250346
105.80228521434742
111.39766431516678
125.27046834313602
85.1453541424371
91.75321851771601
119.3471201920851
135.61042212284048
80.53434202500974
89.96045236998363
99.60615300612137
96.4174500167463
107.02034472248357
74.13969785652934
118.19850912933627
88.25097754482402
111.20100169037302
104.94563316504565
119.73505738880334
96.49929754695768
111.02680060604874
82.59576854812214
107.24369463064949
109.38878468894595
107.45040207416051
74.92771615377293
53.7690562500042
113.45975043158751
131.749865138381
96.2493187834551
100.17778935445361
120.6153750999994
97.32981492659486
111.20019445723116
106.15457700071612
114.20133813696988
59.813545433368745
97.2280807200695
136.94048632608823
110.82648960550328
133.36596477793108
130.39262944911715
97.12964551706499
112.74796250234245
99.73343799463905
107.55606232079593
82.77139666833419
95.05554520538551
118.24966030653863
80.2489912219004
90.77389462050635
134.8570825597305
97.78978762260252
119.91787843672383
89.45420600068634
95.40795776392383
98.34985730681774
70.63738204476587
118.30675463967563
114.70658015803504
100.69045968186074
96.80863311018591
118.42937505039087
95.95190902443896
120.73046656040039
125.97776809580742
91.40631213233362
103.17844224811931
97.01105827351745
85.48042503070386
80.29829089925185
107.78489291366127
109.27882904045109
85.51641154141119
95.66650635251354
102.10018522722133
76.02798298835026
115.44693303053279
114.22205355736942
108.77030335055458
99.37979575059713
106.6390565702032

0      None
1      None
2      None
3      None
4      None
       ...
495    None
496    None
497    None
498    None
499    None
Length: 500, dtype: object

If we altered the function slightly, so that it returns the value instead of printing it, we would get a Series.

In [9]:
def return_avg(row):
    return row['Heart Rate Avg']

df.apply(return_avg, axis=1)

0       96.365454
1      127.634372
2       97.186502
3       90.000578
4       98.496899
          ...
495    115.446933
496    114.222054
497    108.770303
498     99.379796
499    106.639057
Length: 500, dtype: float64

Because the Series is as long as the columns in the dataframe we can easily add it as a column. Let's modify the function to reclassify heart rates according to our earlier categories, and then attach the output as a new column.

In [10]:
heart_rate_classifier_df = df.copy()

def classify_avg(row):
    if row['Heart Rate Avg'] < 90:
        rate = 'Slower'
    elif row['Heart Rate Avg'] < 110:
        rate = 'Middle'
    else:
        rate = 'Faster'
    return rate

heart_rate_classifier_df['Heart Rate Class'] = heart_rate_classifier_df.apply(classify_avg, axis=1)
heart_rate_classifier_df.head()

,ID,Measurement Device,Heart Rate Max,Heart Rate Min,Heart Rate Avg,Duration of exercise (min),Exercise Type,Heart Rate Class
0,545591518,Skykandal,107,86,96.365454,27,Weight training,Middle
1,363283639,B-Wolf,185,80,127.634372,83,Running,Faster
2,853372507,B-Wolf,118,83,97.186502,48,Running,Middle
3,941758991,B-Wolf,108,79,90.000578,29,Weight training,Middle
4,609296827,Skykandal,157,78,98.496899,46,Weight training,Middle

As you can see, this allows us to do fairly complex processing, since we can hand off an entire row to a function of whatever complexity we need.

Before we go further, practice this yourself.
#### In the block below calculate a new column called "Midpoint" that is the average of the heart rate maximum and minimums, using apply. (This can be done without using apply, but that's not the point of this exercise.)

In [11]:
# your code goes here

### Apply With Multiple Columns

We can even get multiple columns at once. If the function returns multiple values and  we pass the argument `result_type='expand'` we get a small dataframe back. We could either join this dataframe to our existing one, or, more simply, declare that this dataframe is several new columns in the existing dataframe. We do this the same way we accessed multiple columns at once, using a list of new columns. E.g., getting or setting columns A and B would be `df[['A', 'B']]`.

In the example below we will run this operation on a copy of the dataframe.

In [12]:
multi_col_classifier_df = df.copy()

# what is important about this function is that it returns two items, not one
def multiple_returns(row):
    aerobic_exercise = True
    heart_rate_class = 'Middle'
    if row['Exercise Type'] == 'Weight training':
        aerobic_exercise = False
    if row['Heart Rate Avg'] < 90:
        heart_rate_class = 'Low'
    elif row['Heart Rate Avg'] > 110:
        heart_rate_class = 'High'
    return aerobic_exercise, heart_rate_class


# attach the output of apply to the dataframe
multi_col_classifier_df[['Aerobic Exercise', 'Heart Rate Class']] = multi_col_classifier_df.apply(multiple_returns, axis=1, result_type='expand')
multi_col_classifier_df.head(10)

,ID,Measurement Device,Heart Rate Max,Heart Rate Min,Heart Rate Avg,Duration of exercise (min),Exercise Type,Aerobic Exercise,Heart Rate Class
0,545591518,Skykandal,107,86,96.365454,27,Weight training,False,Middle
1,363283639,B-Wolf,185,80,127.634372,83,Running,True,High
2,853372507,B-Wolf,118,83,97.186502,48,Running,True,Middle
3,941758991,B-Wolf,108,79,90.000578,29,Weight training,False,Middle
4,609296827,Skykandal,157,78,98.496899,46,Weight training,False,Middle
5,627941273,B-Wolf,133,67,94.759048,33,Running,True,Middle
6,789595116,Skykandal,163,80,111.832072,73,Running,True,High
7,198783733,Skykandal,150,84,105.368712,40,Swimming,True,Middle
8,424864287,Skykandal,108,80,89.639894,21,Running,True,Low
9,758224973,Skykandal,151,78,98.677267,11,Swimming,True,Middle

`apply` can also be used on a single column. For instance, the code below will use a modified version of the classify_avg function we defined earlier on the Heart Rate Avg column, without a need to look up the average heart rate column in a row. We'll use yet another copy of df for this, and give it a classifing column.

In [13]:
def classify_avg(avg):
    if avg < 90:
        rate_class = 'Low'
    elif avg < 110:
        rate_class = 'Middle'
    else:
        rate_class = 'High'
    return rate_class


single_col_classifier_df = df.copy()

single_col_classifier_df['Class'] = single_col_classifier_df['Heart Rate Avg'].apply(classify_avg)
single_col_classifier_df.head(10)

,ID,Measurement Device,Heart Rate Max,Heart Rate Min,Heart Rate Avg,Duration of exercise (min),Exercise Type,Class
0,545591518,Skykandal,107,86,96.365454,27,Weight training,Middle
1,363283639,B-Wolf,185,80,127.634372,83,Running,High
2,853372507,B-Wolf,118,83,97.186502,48,Running,Middle
3,941758991,B-Wolf,108,79,90.000578,29,Weight training,Middle
4,609296827,Skykandal,157,78,98.496899,46,Weight training,Middle
5,627941273,B-Wolf,133,67,94.759048,33,Running,Middle
6,789595116,Skykandal,163,80,111.832072,73,Running,High
7,198783733,Skykandal,150,84,105.368712,40,Swimming,Middle
8,424864287,Skykandal,108,80,89.639894,21,Running,Low
9,758224973,Skykandal,151,78,98.677267,11,Swimming,Middle

#### In the cell below, try passing a single column to apply that should return half the exercise time.

In [14]:
# your code goes here

### Lambda Functions

`apply` also allows you to define functions on the spot. There's no need to do this, but there are times when it is useful. Below, we'll use the pre-existing `lower()` method to make the Exercise Type column labels all lowercase. Since `lower` is a method we can't just pass things to it, it is attached to text using dot notation. What we can do is make use of Python's `lambda` to make an on-the-spot function. `lambda` is just an anonymous function in Python, meaning we don't have to give it a name and create it with `def`. `lambda x:` means "we're making a function which takes an argument, x", so `lambda x: x.lower()` means "we're making a function that takes an argument, x, and then returns x.lower()".

(If `lower` is unclear, think of it this way: if `text` is a text variable then `text.lower()` gives us the lowercase version of `text`.)

In [15]:
lowercase_exercise_df = df.copy()

lowercase_exercise_df['Exercise Type'] = lowercase_exercise_df['Exercise Type'].apply(lambda x: x.lower())
lowercase_exercise_df.head()

,ID,Measurement Device,Heart Rate Max,Heart Rate Min,Heart Rate Avg,Duration of exercise (min),Exercise Type
0,545591518,Skykandal,107,86,96.365454,27,weight training
1,363283639,B-Wolf,185,80,127.634372,83,running
2,853372507,B-Wolf,118,83,97.186502,48,running
3,941758991,B-Wolf,108,79,90.000578,29,weight training
4,609296827,Skykandal,157,78,98.496899,46,weight training

The code below does exactly the same thing (to a different column), so don't feel like you have to use `lambda`. The form below takes more lines of code, but that's fine when you're starting out, and is easier to read for some people.

In [16]:
def lowercase(text):
    return text.lower()

lowercase_exercise_df['Measurement Device lower'] = lowercase_exercise_df['Measurement Device'].apply(lowercase)
lowercase_exercise_df.head()

,ID,Measurement Device,Heart Rate Max,Heart Rate Min,Heart Rate Avg,Duration of exercise (min),Exercise Type,Measurement Device lower
0,545591518,Skykandal,107,86,96.365454,27,weight training,skykandal
1,363283639,B-Wolf,185,80,127.634372,83,running,b-wolf
2,853372507,B-Wolf,118,83,97.186502,48,running,b-wolf
3,941758991,B-Wolf,108,79,90.000578,29,weight training,b-wolf
4,609296827,Skykandal,157,78,98.496899,46,weight training,skykandal

At this point, you have a lot of different ways to use `apply`. Using `apply` to make a column is often a precursor to filtering on that new column. 

#### So, for practice using apply, assume that we know that B-Wolf devices consistently measure 2 bpm lower than Skykandal devices. Also, Skykandal devices react poorly to water, and measure 5 bpm too high if you're swimming. Write a block of code that bumps up all B-Wolf device heart rate measures by 2, subtracts 5 from Skykandal heart rate measures for swimmers only, and then filters on the corrected rates so that we only have people with average heart rates above 100.

In [17]:
# your code goes here

Now, it's time to look at summarizing the data from all of these filtering operations and new columns.